# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg
ragsanity/__init__.py
pypi_token.txt

# Virtual environments
venv/
.venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Packaging
*.whl

# Other
testing.txt